.header {
  border: 1px solid red;
  padding: 3%;
}

.question {
  width: 75%;
  float: left;
  padding: 5%;
  border: 1px solid red;
}

.reponse {
  width: 75%;
  float: left;
  padding: 5%;
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
  padding: 20%;
}